<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form action="/register/" method="post">
        {% csrf_token %}
        Username: <input type="text" name="username">
        Password: <input type="password" name="password"> 
        First name: <input type="text" name="first_name">
        Last name: <input type="text" name="last_name">
        Email: <input type="email" name="email">
        <br>
        <input type="submit">
    </form>
</body>
</html>